In [ ]:
# Page 8: Integers and Floats

x = 3
print(type(x))                 # Print "<class 'int'>"
print(x)                       # Print "3"
print(x + 1)                   # Addition; print "4"
print(x - 1)                   # Subtraction; print "2"
print(x * 2)                   # Multiplication; print "6"
print(x / 2)                   # Division, print "1.5"
print(x // 2)                  # Integer division, print "1"
print(x % 2)                   # Modulus; print "1"
print(x ** 2)                  # Exponentiation; print "9"
x += 1;  print(x)              # Print "4"
x *= 2;  print(x)              # Print "8"
y = 2.5; print(type(y))        # Print "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Print "2.5 3.5 5.0 6.25"

<class 'int'>
3
4
2
6
1.5
1
1
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
# Page 9: Booleans

print(1 + 1 != 3)  # Print "True"
print(4 + 6 == 10) # Print "True"
x = 3; y = 5
print(x + y > 7)   # Print "True"
print(x * y <= 7)  # Print "False"

t = True; f = False
print(type(t)) # Print "<class 'bool'>"
print(t and f) # Logical AND; print "False"
print(t or f)  # Logical OR; print "True"
print(not t)   # Logical NOT; print "False"
print(t != f)  # Logical XOR; print "True"

True
True
True
False
<class 'bool'>
False
True
False
True

In [ ]:
# Page 10: Strings

hello = 'hello'           # String literals can use single quotes
world = "world"           # or double quotes; it does not matter
print(hello)              # Print "hello"
print(len(hello))         # String length; print "5"
hw = hello + ' ' + world  # String concatenation
print(hw)                 # Print "hello world"
hw12 = '%s %s %d' % (hello, world, 12)  # sprintf style string formatting
print(hw12)               # Print "hello world 12"
print(type(hw12))         # Print "<class 'str'>"
print(hello * 3)          # Print "hellohellohello",
                          # i.e., "hello" is duplicated by 3 times

hello
5
hello world
hello world 12
<class 'str'>
hellohellohello

In [ ]:
# Page 12: Examples

unicode_string = u'COMP2211'
print(unicode_string)      # Print "COMP2211"

byte_string = b'COMP2211'
print(type(byte_string))   # Print "<class 'bytes'>"
decode_string = byte_string.decode('utf-8')
print(type(decode_string)) # Print "<class 'str'>"
encode_string = decode_string.encode('utf-8')
print(type(encode_string)) # Print "<class 'bytes'>"

raw_string = r'Hi\nHello'
print(raw_string)          # Print "Hi\nHello"

a = 1
b = 2
print(f'a + b = {a+b}')    # Print "a + b = 3"

COMP2211
<class 'bytes'>
<class 'str'>
<class 'bytes'>
Hi\nHello
a + b = 3

In [ ]:
# Page 13: String Objects

s = "hello"
print(s.capitalize())           # Capitalize a string; prints "Hello"
print(s.upper())                # Convert a string to uppercase; prints "HELLO"
print(s.rjust(7))               # Right-justify a string, padding with spaces;
                                # Print "  hello"
print(s.center(7))              # Center a string, padding with spaces;
                                # Print " hello "
print(s.replace('l', '(ell)'))  # Replace all instances of one substring
                                # with another; print "he(ell)(ell)o"
print('  world '.strip())       # Strip leading and trailing whitespace;
                                # print "world"

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

In [ ]:
# Page 14: Type Conversion

print(int('3') + 5)  # Print "8"
print('3' + str(5))  # Print "35"
print(float(3) + 3)  # Print "6.0"
print(int(3.14) + 3) # Print "6"

8
35
6.0
6

In [ ]:
# Page 16: Output Data to Standard Output Device

print('COMP2211 is the best COMP course :D') # Print a string

age = 18
print('I am', age, 'years old')     # Print 'I am 18 years old'

print(2, 2, 1, 1)                   # Print 2 2 1 1
print(2, 2, 1, 1, sep='@')          # Print 2@2@1@1
print(2, 2, 1, 1, sep='~', end='*') # Print 2~2~1~1*
print()                             # Print '\n', i.e., move to the next line

x = 'A+'; y = 'A'
# Print 'Desmond will get A+ and John will get A'
print('Desmond will get {} and John will get {}'.format(x,y))
# Print 'Desmond will get A+ and John will get A'
print('Desmond will get {0} and John will get {1}'.format(x,y))
# Print 'Desmond will get A and John will get A+'
print('Desmond will get {1} and John will get {0}'.format(x,y))
# Print 'Desmond will get A+ and John will get A'
print('Dsemond will get {a} and John will get {b}'.format(a = 'A+', b = 'A'))

COMP2211 is the best COMP course :D
I am 18 years old
2 2 1 1
2@2@1@1
2~2~1~1*
Desmond will get A+ and John will get A
Desmond will get A+ and John will get A
Desmond will get A and John will get A+
Dsemond will get A+ and John will get A

In [ ]:
# Page 17: Input Data

age = input('Enter your age: ')
print(age)              # Assume the input is 18. It prints "18"
print(type(age))        # Print "<class 'str'>"
print(type(int(age)))   # Print "<class 'int'>"
print(type(float(age))) # Print "<class 'float'>"
age = int(age) + 1      # Convert age to int and increase it by 1
print('Now you are', age, 'years old') # Print "Now you are 19 years old"

Enter your age: 18
18
<class 'str'>
<class 'int'>
<class 'float'>
Now you are 19 years old

In [1]:
# Page 20: if statement

num = int(input('Enter a number: '))

if num % 2 == 0:
   print("The number is even.")

Enter a number: 10
The number is even.

In [4]:
# Page 20: if-else statement

num = int(input('Enter a number: '))

if num % 2 == 0:
   print("The number is even.")
else:
   print("The number if odd.")

Enter a number: 3
The number if odd.

In [6]:
# Page 21: if-else using logical operator

score1 = int(input('Enter first score: '))
score2 = int(input('Enter second score: '))
score3 = int(input('Enter third score: '))

if score1 == score2 and score2 == score3:
   print("All three scores are the same")
else:
   print("Not all three scores are the same")

Enter first score: 8
Enter second score: 8
Enter third score: 7
Not all three scores are the same

In [ ]:
# Page 22: if-elif-else

num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))
num3 = int(input('Enter third number: '))

if num > num2 and num1 > num3:
   largest = num1
elif num2 > num1 and num2 > num3:
   largest = num2
else:
   largest = num3
print("The largest number is", largest)

In [ ]:
# Page 23: Nested if-else

num = int(input('Enter a number: '))

if num != 0:
   if num > 0:
      print("Number is positive")
   else:
      print("Number is negative")
else:
   print("Number is zero")

In [ ]:
# Page 28: While loop

n = int(input('Enter a positive value n: '))
count = 0
while(count < n):
  count = count + 1
  print("COMP 2211 is a great COMP course")

In [ ]:
# Page 29: While loop with continue statement

i = 0
while i <= 10:
   if i == 4:
      i += 1
      continue
   print("Number:", i)
   i += 1

In [ ]:
# Page 30: While loop with break statement

i = 0
while i <= 10:
   if i == 4:
      i += 1
      break
   print("Number:", i)
   i += 1

In [ ]:
# Page 31: for loop

course = "COMP 2211"
for character in course:
    print(character)

languages = ["Python", "Java", "C++", "Rust"]
for lang in languages:
    print(lang)

In [ ]:
# Page 32: for loop with continue statement

course = "COMP 2211"
for character in course:
    if character == " ":
       continue
    print(character)

languages = ["Python", "Java", "C++", "Rust"]
for lang in languages:
    if lang == "Java":
       continue
    print(lang)

In [ ]:
# Page 33: for loop with break statement

course = "COMP 2211"
for character in course:
    if character == " ":
       break
    print(character)

languages = ["Python", "Java", "C++", "Rust"]
for lang in languages:
    if lang == "Java":
       break
    print(lang)

In [ ]:
# Page 34: Nested for loops

print("Prime numbers in the range 2 to 100 are:")
# range returns a sequence of numbers starting from 2, increments by 1 each time,
# and stops before 101, i.e., 2, 3, 4, ..., 100
for number in range(2,101):
    isPrime = True
    # Check if number is a prime number or not
    for value in range(2,number):
        # Check if any number in the range [2, number-1] divides value completely
        if number % value == 0:
            isPrime = False # The number is not prime
            break           # Quit the loop
    if isPrime:             # If isPrime is True, print number
        print(number,end=" ")

In [ ]:
# Page 35: Nested while loops

# Print a 10x10 multiplication table

i = 1
while i <= 10:
  j = 1
  while j <= 10:
    print(("{:3d}".format(i * j)), end='')
    j += 1
  i += 1
  print()

In [ ]:
# Page 40: Lists

xs = [3, 1, 2]    # Create a list
print(xs, xs[2])  # Print "[3, 1, 2] 2"
print(xs[-1])     # Negative indices count from the end of the list; print "2"
xs[2] = 'foo'     # Lists can contain elements of different types
print(xs)         # Print "[3, 1, 'foo']"
xs.append('bar')  # Add a new element to the end of the list
print(xs)         # Print "[3, 1, 'foo', 'bar']"
x = xs.pop()      # Remove and return the last element of the list
print(x, xs)      # Print "bar [3, 1, 'foo']"
ys = ['a', 3, [4.5, 'c', True]] # Create another list
print(ys)         # Print ['a', 3, [4.5, 'c', True]]
print(ys[2][2])   # Print "True"
ys += [4, 5, 6]   # Add 3 elements, 4, 5, 6 to ys
print(ys)         # Print ['a', 3, [4.5, 'c', True], 4, 5, 6]
ys.remove(5)      # Remove 4.5 from the list
print(ys)         # Print ['a', 3, [4.5, 'c', True], 4, 6]

[3, 1, 2] 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar [3, 1, 'foo']
['a', 3, [4.5, 'c', True]]
True
['a', 3, [4.5, 'c', True], 4, 5, 6]
['a', 3, [4.5, 'c', True], 4, 6]

In [ ]:
# Page 42: Slicing

nums = list(range(5))     # range is a built-in function that creates a
                          # list of integers, [0, 1, 2, 3, 4]
print(nums)               # Print "[0, 1, 2, 3, 4]"
print(nums[2:4])          # Get a slice from index 2 to 4 (exclusive);
                          # print "[2, 3]"
print(nums[2:])           # Get a slice from index 2 to the end;
                          # print "[2, 3, 4]"
print(nums[:2])           # Get a slice from the start to index 2 (exclusive);
                          # print "[0, 1]"
print(nums[:])            # Get a slice of the whole list;
                          # print "[0, 1, 2, 3, 4]"
print(nums[:-1])          # Slice indices can be negative;
                          # print "[0, 1, 2, 3]"
print(nums[0:4:2])        # Print "[0, 2]"
nums[2:4] = [8, 9]        # Assign a new sublist to a slice
print(nums)               # Print "[0, 1, 8, 9, 4]"

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 2]
[0, 1, 8, 9, 4]

In [ ]:
# Page 43: Loops

animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)  # Prints "cat", "dog", "monkey", each on its own line.

# Alternative
# for index in range(3):
#     print(animals[index])
# Prints "cat", "dog", "monkey", each on its own line.

i = 0
while i < len(animals):
    print(animals[i])
    i = i + 1      # Prints "cat", "dog", "monkey", each on its own line.

cat
dog
monkey
cat
dog
monkey

In [ ]:
# Page 47: Dictionaries

d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
print('cat' in d)     # Check if a dictionary has a given key; print "True"
d['fish'] = 'wet'     # Set an entry in a dictionary
print(d['fish'])      # Print "wet"
# print(d['monkey'])  # KeyError: 'monkey' not a key of d
print(d.get('monkey', 'N/A'))  # Get an element with a default; print "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; print "wet"
del d['fish']                  # Remove an element from a dictionary
print(d.get('fish', 'N/A'))    # "fish" is no longer a key; print "N/A"
item = d.pop('cat')   # Remove the item with key 'cat' from the dictionary
print(item)           # Print "cute"
print(d)              # Print {'dog': 'furry'}

cute
True
wet
N/A
wet
N/A
cute
{'dog': 'furry'}

In [ ]:
# Page 51: Sets

animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # Print "False"
animals.add('fish')       # Add an element to a set
print('fish' in animals)  # Print "True"
print(len(animals))       # Number of elements in a set; prints "3"
animals.add('cat')        # Adding an element that is already in the set
                          # does nothing
print(len(animals))       # Print "3"
animals.remove('cat')     # Remove an element from a set
print(len(animals))       # Print "2"

True
False
True
3
3
2

In [ ]:
# Page 54: Tuples

d = {(x, x + 1): x for x in range(10)}  # Create a dictionary with tuple keys
t = (5, 6)        # Create a tuple
print(type(t))    # Print "<class 'tuple'>"
print(d[t])       # Print "5"
print(d[(1, 2)])  # Print "1"

<class 'tuple'>
5
1

In [ ]:
# Page 56: Functions

def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

In [ ]:
# Page 57: Functions

def assign_word():
  global word
  word = "cool"

assign_word()

# Print "Desmond is really cool"
print("Desmond is really " + word)

Desmond is really cool

In [ ]:
# Page 58: Functions

def hello(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob')              # Print "Hello, Bob"
hello('Fred', loud=True)  # Print "HELLO, FRED!"

Hello, Bob
HELLO, FRED!

In [ ]:
# Page 59: Recursion

def factorial(n):
    if n == 0: # base case
       return 1
    else:      # recursive case
       return n * factorial(n-1)

print(factorial(5))